<!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item"><a href="/index.html" 
                class="navbar__link">Home</a></li>
            <li class="navbar__item"><a href="/views/pages/watch_on_demand.html"
                 class="navbar__link">Watch on Demand</a></li>
            <li class="navbar__item"><a href="/views/pages/stay_in_the_loop.html"
                 class="navbar__link">Stay in the Loop</a></li>
            <li class="navbar__item"><a href="/views/pages/press_room.html"
                 class="navbar__link">Press Room</a></li>
        </ul>
    </nav><!-- Navbar -->