body{
    background-color: var(--gray-900);
}
.cards-section {
    /* background-color: #10111f; */
    color: white;
}

.cards-container {
    padding-top: 40px;
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.cards__item {
    position: relative;
    height: 240px;
}

.cards__image {
    width: 100%;
    height: 100%;
}

.cards__button {
    position: absolute;
    top: 50%;
    left: 40%;
    border: none;
    border-radius: 40px;
    background-color: var(--tertiary-500);
    color: var(--black);
    padding: 20px;
    font-weight: bold;

    text-decoration: none;
}

@media (width > 768px) {
    .cards-container {
        width: 70%;
        padding-top: 10vh;
        grid-template-columns: repeat(3, 1fr);
    }

    .cards__item {
        height:320px;
    }
}


/* TEXTO DE ABAJO TEXTO COMPANIES INVOLED */

.cards-text-bottom__text1,
.cards-text-bottom__text2 {
    font-size: var(--fs-xxl);
    margin: 0;
    font-weight: 900;
    line-height: 0.85; /* Sirve para controlar e espaco entre dos lineas de texto verticalmente */
}

.cards-text-bottom__text2 {
    color: var(--tertiary-500);
}

.cards-text-bottom{
    text-align: center;
}

@media (width > 768px) {

    .cards-text-bottom__text1{
        font-size: 100px;
        text-align: center;

        /* AGREGAR ESTILO DE LETRA */
        color: transparent;
        -webkit-text-stroke: 1px white;
    }
    .cards-text-bottom__text2{
         font-size: 100px;
        text-align: center;
        padding-left: 40vh;
    }
    .cards-text-bottom{
        padding-top: 30vh;
        padding-bottom: 10px;
    }
}

