.footer {
    background-color: var(--gray-600);
    padding: 50px 10px;
    text-align: center;
    color: white;
    margin: 0;

    border-top: 4px solid var(--tertiary-950);
    font-weight: bold;
    color: var(--primary-500);
}

