.hero-container {
    background-image: url(/assets/images/1-img-hero.jpg);
   background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

  .hero {
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    border-bottom: 4px solid var(--tertiary-950);

    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 300px;

}




.hero__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 0.9;
}
.hero__title {
    display: flex;
    align-items:center;
    gap: 15px;
    margin: 0;
    padding-left: 15px;
    
    font-weight: 900;
    font-size: var(--fs-xxxl); 
    color: var(--tertiary-500); 
    
}

.hero__pioneers {
    color: var(--tertiary-500); 
    font-size: var(--fs-xs);
    margin-top: 30px;
    
}

.hero__science{
    font-size: var(--fs-xxxl);
    font-weight: 900;
    color: var(--tertiary-500);
    margin: 0;
    padding: 0;
    padding-left: 40px;
    
}

.hero__subtitle {
    border-top: 4px solid var(--tertiary-500); 
    padding-top: 10px;
    width: 350px; 
    font-size: var(--fs-xxxs);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}
    
    

 .hero__content-right {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: var(--white);
    gap: 20px;
    width: 100%;
    
    align-items: start;

  }

.hero__button{
    border-radius: 400px;
    color: var(--black);
    background-color: var(--tertiary-500);
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    
    
    /* Acomodar el boton  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


@media (width > 768px) {
    
    .hero__button{
        width: auto;
    }
    .hero{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;

        padding: 0 10%;
        gap: 80px;
    }
    .hero__content {
        padding-left: 200px;
    }
}   

